{%extends 'base.html'%}
{%load i18n%}
{% block breadcrumbs %}
    {%include 'django_magic_frontend/breadcrumbs.html'%}
{% endblock %}
{% block content%}
    {%include 'django_magic_frontend/object_title.html'%}
    {%include 'django_magic_frontend/object_detail.html'%}
    {%include 'django_magic_frontend/object_actions.html'%}
    <h3>Products</h3>
    <a href="{%url catalog_product_create%}">Add Product</a><br>
    <table>
    {%for element in object.product_set.all%}
        {%include 'django_magic_frontend/object_related.html'%}   
    {%endfor%}
    </table>
{%endblock%}
